
{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<div class="company"></div>
    		<div class="company-child">
			<div class="company-item"></div>
    		</div>
    		<div class="role-description">Role Description + Requirements:</div>
    		<div class="company-inner">
    		</div>
    		<div class="rectangle-div">
    		</div>
    		<div class="lets-get-started-container">
      			<p class="lets-get-started">Let’s get started! Provide the following information as we  personalize an interview for you based on the company and role!</p>
      			<p class="blank-line">&nbsp;</p>
      			<p class="blank-line">&nbsp;</p>
      			<p class="blank-line"> </p>
    		</div>
    		<div class="company-name">Company Name:</div>

			<select id="companyDropdown">
				<option value="">Select a company</option>
				<option value="Google">Google</option>
				<option value="Amazon">Amazon</option>
				<option value="Microsoft">Microsoft</option>
				<option value="Facebook">Facebook</option>
				<option value="Apple">Apple</option>
				<option value="Netflix">Netflix</option>
				<option value="LinkedIN">LinkedIN</option>
				<option value="Salesforce">Salesforce</option>
				<option value="Airbnb">Airbnb</option>
				<option value="Striper">Stripe</option>
			</select>
    		<div class="applied-position">Applied Position:</div>
    		<img class="image-3-icon" alt="" src="{{ url_for('static', filename='image 3.png') }}">
    		
    		<div class="company-child1">
    		</div>
    		<b class="go">GO</b>	
    		</div>
    		
  	</div>
	<script src="{{ url_for('static', filename='drop_down.js') }}" defer></script>
{% endblock %}
