{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<form method="POST">
		<div class="login"></div>
    		<div class="login-child">
    		</div>
    		<div class="forgot-password">Forgot password?</div>
    		<div class="login-item">
    		</div>
    		<div class="password">Password</div>
    		<div class="login1">LOGIN</div>
    		<div class="new-user-create-container">
      			<span>New user? </span>
      			<span class="create-an-account">Create an Account</span>
    		</div>
    		<div class="login-inner">
    		</div>
    		<div class="username">Username</div>
    		<div class="rectangle-div">
    		</div>
    		<b class="log-in">LOG IN</b>
		</div>
	  	<br />
	  	<button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}



