{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="profile">
	<div class="profile-child">
		<img id="profile-pic" class="profile-pic" alt="Profile Picture" src="{{ url_for('static', filename='profile.png') }}">
		<label for="input-file">Update Image</label>
		<input type="file" accept="image/jpeg, image/png, image/jpg" id="input-file">
		<script>
			let profilePic = document.getElementById("profile-pic")
			let inputFile = document.getElementById("input-file")

			inputFile.onchange = function () {
				profilePic.src = URL.createObjectURL(inputFile.files[0]);
			}
		</script>
		<b class="first-name-last">First Name Last Name</b>
		<b class="major">Major: </b>
		<b class="interested-roles">Interested roles:</b>
	</div>
	<div class="profile-item">
		<b class="profile1">Profile</b>
		<div class="group">
			<b class="first-name">First Name</b>
       		<b class="last-name">Last Name</b>
        	<b class="email">Email</b>
        	<b class="password">Password</b>
        	<b class="major1">Major</b>


			<div class="rectangle"></div>
        	<div class="rectangle1"></div>
        	<div class="rectangle2"></div>
        	<div class="rectangle3"></div>
        	<div class="rectangle4"></div>
        	<div class="rectangle5"></div>
        	<div class="rectangle6"></div>
        	<div class="rectangle7"></div>
        	<div class="rectangle8"></div>
        	<div class="rectangle9"></div>
    </div>
		
		<div class="container">
			<div class="custom-select">
				<div class="select-box">
					<input type="text" class="tag_input" name="tags" hidden />
					<div class="selected-options"></div>
					<div class="arrow">
						<i class="fa fa-angle-down"></i>
					</div>
				</div>
				<div class="options">
					<div class="option-search-tags">
						<input type="text" class="search-tags" placeholder="Search for interests..." />
						<button type="button" class="clear">
							<i class="fa fa-close"></i>
						</button>
					</div>
					<div class="option all-tags" data-value="All">Select All</div>
					<div class="option" data-value="Data">Data Analyst</div>
					<div class="option" data-value="Software">Software Developer</div>
					<div class="option" data-value="UIX">UI/UX Engineer</div>
					<div class="option" data-value="Cloud">Cloud Architect</div>
					<div class="option" data-value="Cyber">Cybersecurity</div>
					<div class="option" data-value="Business">Business Analyst</div>
					<div class="option" data-value="Solutions">Solutions Architect</div>
					<div class="option" data-value="IT">IT Specialist</div>
					<div class="option" data-value="QA">QA Engineer</div>
					<div class="option" data-value="AI">AI/Machine Learning</div>
					<div class="option" data-value="Tech">Technical Writer</div>
					<div class="no-result-message" style="display:none;">No result match</div>
				</div>
				<span class="tag_error_msg error"></span>
			</div>
			<input type="button" class="btn_submit" value="Submit" />
		</div>
	</div>
</div>
		<script src = "{{ url_for('static', filename='script.js') }}"></script>


{% endblock %}
